body {
    background-color: black;
}

h1 {
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    text-transform: uppercase;
}
p {
    color: white;
    text-align: center;
    text-transform: capitalize;
}

.poster {
    margin-top: 100px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
.poster-img {
    width: 100%;
    border: 5px solid white;
}